<footer class="bg-light text-center py-5 border-top">
  <div class="container">
    <div class="mb-4">
      <a href="#" class="me-5 text-dark"><i class="bi bi-envelope fs-3"></i></a>
      <a href="#" class="me-5 text-dark"><i class="bi bi-telephone fs-3"></i></a>
      <a href="#" class="me-5 text-dark"><i class="bi bi-instagram fs-3"></i></a>
      <a href="#" class="me-5 text-dark"><i class="bi bi-discord fs-3"></i></a>
      <a href="#"><i class="bi bi-facebook text-dark fs-3"></i></a>
    </div>
    <div>
      <a href="#" class="text-decoration-none me-2 text-dark">Home</a>
      <a href="#" class="text-decoration-none me-2 text-secondary">|</a>
      <a href="#" class="text-decoration-none me-2 text-dark">Blog</a>
      <a href="#" class="text-decoration-none me-2 text-secondary">|</a>
      <a href="#" class="text-decoration-none me-2 text-dark">About Us</a>
      <a href="#" class="text-decoration-none me-2 text-secondary">|</a>
      <a href="#" class="text-decoration-none text-dark">Support</a>
    </div>
  </div>
</footer>
